body {
  padding-left: 50px;
  padding-right: 50px;
  background: white;
  margin: 0; 
}

.content {
  text-align: center;
  background-color: #13305e;
  padding-top: 20px;
}

select{
  font-size: 17px;
  padding: 2px;
  margin-bottom: 20px;
}

.animal{
  width: 300px;
  height: 300px;
  margin: 0;
}

.blanco-negro{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.invertir-colores{
  filter: invert(.8);
  -webkit-filter: invert(.8);
}

.sepia{
  filter: sepia(1);
  -webkit-filter: sepia(1);
}
