body {
  padding-left: 50px;
  padding-right: 50px;
}
 
select{
  font-size: 17px;
  background: #49e6c0;
  padding: 2px;
}

body {
  background: #e6e0d3;
}

.animal{
  width: 300px;
  height: 300px;
  margin: 0;
}

.blanco-negro{
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}

.invertir-colores{
  filter: invert(.8);
  -webkit-filter: invert(.8);
}

.sepia{
  filter: sepia(1);
  -webkit-filter: sepia(1);
}
